.page__container{
display:grid;
grid-template-columns: 10% 20% 60% 10%;
grid-template-rows: 10% 20% 60% 10%;

}

.AJS__logo{
  grid-area: 2, 2, 3, 3;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}